# This file contains sample and default values for the app configuration.
# Copy this file and rename it to '.config.yaml' and then update values as needed.

# General configuration for the app
app:
  # Unique identifier for the app instance, useful when running multiple instances.
  id: "local-dev"
  # The name of the app, currently used for logging purposes.
  name: "gopl.dev"
  # The version of the app. You can use any format (e.g., semantic versioning, timestamp, commit hash or whatever else).
  # This is used for logging and to verify the correct version of app is deployed (e.g., via the "/api/status/" endpoint).
  version: "ognev-local"

  # Specifies the environment in which the app is running. Possible values:
  # - dev: Development environment (e.g., for active coding/debugging).
  # - test: Testing environment (e.g., running automated tests).
  # - staging: Pre-release testing environment. Ideally, it should mimic the release environment,
  #            but you may use it for specific checks (like credentials for third-party).
  # - release: Production environment where the app is live and handling real operations.
  env: dev

content:
  clone_url: "https://github.com/gopl-dev/content.git"
  repo_secret: "abc"
  local_dir: "~/projects/gopl-content"

# Server configuration
server:
  # Hostname or IP address the server will bind to.
  host: localhost
  # Port number the server will listen on.
  port: 8080
  # A prefix applied to all API endpoints
  api_base_path: api
  addr: "https://gopl.dev"

# Database configuration
db:
  host: localhost:5432
  port: 5432
  user: postgres
  password: postgres
  name: gopl_dev_server
  log_queries: true

email:
  driver: test
  from: mail@gopl.dev
  host: sandbox.smtp.mailtrap.io
  port: 25
  username:
  password:

session:
  duration_hours: 24
  key: "secret-key"

trace:
  enabled: true
  # uptrace | log
  driver: uptrace
  # https://uptrace.dev/get#dsn
  uptrace_dsn: "https://**********@api.uptrace.dev?grpc=4317"

openapi:
  enabled: true
  serve_path: openapi