package page

import . "github.com/gopl-dev/server/web/component"

templ RegisterUserForm() {
	<form>
		<div class=" items-center">
		    <div class="max-w-md">
			@TextInput("username", "Username", true)
			@TextInput("email", "E-mail", true)
			@PasswordInput("password", "Password", true)
			@SubmitButton("Register")
			</div>
		</div>
	</form>
}
