package page

templ Err422(text string) {
<div role="alert" class="alert alert-error">
    <div>
        <h3 class="text-3xl">Unprocessable</h3>
        <div class="p-5"><code class="font-mono">{ text }</code></div>
    </div>
</div>
}
