package page

templ SuccessMessage(text string) {
<div role="alert" class="alert alert-success">
    <div>
        <h3 class="text-3xl">Success</h3>
        <div class="p-5"><code class="font-mono">{ text }</code></div>
    </div>
</div>
}
