package page

import . "github.com/gopl-dev/server/web/component"

templ RegisterUserForm() {
	<form hx-post="/api/users/register/" method="post">
		<div class="w-50">
			@TextInput("username", "Username", true)
			@TextInput("email", "E-mail", true)
			@PasswordInput("password", "Password", true)
			<div class="p-2">
				@SubmitButton("Register")
			</div>
		</div>
	</form>
}
