@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "./daisyui.js";

[x-cloak]{display:none !important;}

.logo {
    color: #00aeff;
    transition: color 0.2s ease;
}

.logo:hover {
    color: white;
}