@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "./daisyui.js";

[x-cloak]{display:none !important;}

.logo {
    color: #00bafe;
    transition: color 0.2s ease;
}

.logo:hover {
    color: white;
}

.dashboard-menu-active {
    @apply rounded-l-full bg-gray-100 shadow-md text-info-content pl-5 translate-x-[8px];
}

footer {
    @apply bg-gray-600 text-base-content gap-4 p-3 w-full text-sm text-gray-400;
    box-shadow: 0 3px 3px -3px inset rgba(0, 0, 0, 0.5);

    a:hover {
        @apply link text-info;
    }
}

