@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "./daisyui.js";

[x-cloak]{display:none !important;}

.logo {
    color: #00bafe;
    transition: color 0.2s ease;
}

.logo:hover {
    color: white;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: -14px;              /* выдвигаем наружу */
    transform: translateY(-50%);

    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 14px solid oklch(var(--b2));
}

.dashboard-menu-active {
    @apply rounded-l-full bg-gray-100 shadow-md text-info-content pl-5 translate-x-[8px];
}

