package web

type HeadData struct {
    Title string
}

templ Head(h HeadData) {
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ h.Title }</title>
}