name: Deploy

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.26'

      - name: golangci-lint
        uses: golangci-lint/golangci-lint-action@v6
        with:
          version: latest

  test:
    uses: ./.github/workflows/test.yaml

  deploy:
    runs-on: ubuntu-latest
    needs: [lint, test]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.26'

      - name: Build server
        run: GOOS=linux GOARCH=amd64 go build -o ./bin/server ./cmd/server/main.go

      - name: Build CLI
        run: GOOS=linux GOARCH=amd64 go build -o ./bin/cli ./cmd/cli/main.go

      - name: Set short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Generate config
        run: |
          cat > ./bin/.config.yaml << EOF
          app:
            id: "do_fra1"
            name: "gopl.dev"
            version: "${{ env.SHORT_SHA }}"
            env: production

          db:
            host: localhost
            port: 5432
            user: gopl
            password: "${{ secrets.DB_PASSWORD }}"
            name: gopl
            log_queries: false

          server:
            host: ""
            port: 443
            api_base_path: api
            addr: "https://gopl.dev/"
            autocert_hosts: "gopl.dev, www.gopl.dev"

          email:
            driver: smtp
            from: "mail@gopl.dev"
            host: "live.smtp.mailtrap.io"
            port: 2525
            username: "${{ secrets.SMTP_USERNAME }}"
            password: "${{ secrets.SMTP_PASSWORD }}"

          session:
            duration_hours: 120
            key: "${{ secrets.SESSION_KEY }}"

          tracing:
            enabled: true
            driver: uptrace
            uptrace_dsn: "${{ secrets.UPTRACE_DSN }}"

          files:
            storage_driver: 'local-fs'
            max_upload_size_mb: 20
            image_max_width: 1500
            image_max_height: 1500
            preview_width: 400
            preview_height: 400
            local_fs:
              storage_path: "/files"
            entities:
              books:
                covers:
                  path: "book-covers"

          openapi:
            enabled: true
            serve_path: openapi

          google_oauth:
            client_id: "${{ secrets.GOOGLE_CLIENT_ID }}"
            client_secret: "${{ secrets.GOOGLE_CLIENT_SECRET }}"

          github_oauth:
            client_id: "${{ secrets.GH_CLIENT_ID }}"
            client_secret: "${{ secrets.GH_CLIENT_SECRET }}"

          admins: ["019c7a4b-1931-7adb-8e21-70044db68daf"]
          EOF

      - name: Upload files to droplet
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DEPLOY_SSH_HOST }}
          username: ${{ secrets.DEPLOY_SSH_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          source: "bin/server,bin/cli,bin/.config.yaml"
          target: "/opt/gopl/"
          strip_components: 1

      - name: Restart service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_SSH_HOST }}
          username: ${{ secrets.DEPLOY_SSH_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            chmod +x /opt/gopl/server
            chmod +x /opt/gopl/cli
            sudo systemctl restart gopl
            sudo setcap 'cap_net_bind_service=+ep' /opt/gopl/server