name: Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: gopl_local_dev_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.26'

      - name: Create test configs
        run: |
          cat > /tmp/test-config.yaml << EOF
app:
  id: "test"
  name: "gopl.dev"
  version: "ci"
  env: test

db:
  host: localhost
  port: 5432
  user: postgres
  password: postgres
  name: gopl_local_dev_test
  log_queries: true

server:
  host: localhost
  port: 8080
  api_base_path: api
  addr: "http://127.0.0.1:8080/"

email:
  driver: test

session:
  duration_hours: 24
  key: "key"

files:
  storage_driver: 'in-memory-fs'
  max_upload_size_mb: 20
  image_max_width: 1500
  image_max_height: 1500
  preview_width: 400
  preview_height: 400
  local_fs:
    storage_path: "/tmp/gopl-files"
  entities:
    books:
      covers:
        path: "book-covers"
  EOF
  cp /tmp/test-config.yaml ./test/api_test/.config.yaml
  cp /tmp/test-config.yaml ./test/service_test/.config.yaml
  cp /tmp/test-config.yaml ./test/worker_test/.config.yaml

- name: Run tests
  run: go test ./...